@import url("https://fonts.googleapis.com/css2/family=Patrick+Hand&display=swap");
*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Patrick Hand", cursive;
}

section {
  height: 100vh;
}

.container {
  height: 100%;
  height: 100%;
  background-color: #222;
}

.red {
  background-color: crimson;
}

.blue {
  background-color: slateblue;
}

h1 {
  text-align: center;
  font-size: 4em;
  color: white;
}
.navwrapper {
  width: 100%;
  height: 80px;
  background-color: crimson;
  position: fixed;
  top: 0;
  left: 0;
}

.contentwrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.navigation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.nav {
  list-style-type: none;
  padding: 20px;
  margin: 5px;
  cursor: pointer;
}

.nav:hover {
  background-color: #eaeaea;
  border-radius: 10px;
  transition: all ease-in-out 0.25s;
}

.nav:hover > a {
  color: #222;
}

.navlink {
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  text-decoration: none;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 75px;
  height: 75px;
  background-color: wheat;
  border-radius: 15px;
}

.texttospeech {
  color: white;
}

.box {
  color: white;
  box-sizing: border-box;
  border: 1px solid red;
  width: 400px;
  /* padding: 20px;
  margin: 20px; */
}

.button-start {
  background-color: #04aa6d; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button-stop {
  background-color: #f44336; /* Red */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button-start:hover {
  background-color: #007cba;
  border-radius: 10px;
  transition: all ease-in-out 0.25s;
}

.button-stop:hover {
  background-color: #555555;
  border-radius: 10px;
  transition: all ease-in-out 0.25s;
}

.speechsynthesiser {
  color: white;
  .txt,
  select,
  form > div {
    display: block;
    margin: 0 auto;
    font-family: sans-serif;
    font-size: 16px;
    padding: 5px;
  }

  .txt {
    width: 80%;
  }

  select {
    width: 83%;
  }

  form > div {
    width: 81%;
  }

  .txt,
  form > div {
    margin-bottom: 10px;
    /* overflow: auto; */
  }

  .clearfix {
    clear: both;
  }

  label {
    float: left;
    width: 10%;
    line-height: 1.5;
  }

  .rate-value,
  .pitch-value {
    float: right;
    width: 5%;
    line-height: 1.5;
  }

  #rate,
  #pitch {
    float: right;
    width: 81%;
  }

  .controls {
    text-align: center;
    margin-top: 10px;
  }

  .controls button {
    padding: 10px;
  }
}
